<%- include('../partials/_header') %> 

<div class="columns is-multiline">
<% articles.forEach((article,index) => { %>
    <div class="column is-4">
        <%- include('../partials/_article_Card',{article,index})  %> 
    </div>
    
<% }) %>
</div>


<% 
    const numberOfPage = pagination['x-wp-totalpages']
    const totalData = pagination['x-wp-total']
    const isActivePage = activePage
%> 

<%- include('../partials/_pagination', {numberOfPage,totalData,isActivePage}) %> 
<div class="block"></div>
